.graph{
    /* background-color: black; */
    width: 100%;
    border: 1px solid;
    border-color: black;
    margin: 5% 5% 5% 5%;
}
.grapher{
    width: 85%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    display:grid;
    justify-content: center;
    text-align: center;
}

.GraphicsPage{
    text-align: center;
    justify-content: center;
}
.GraphicsPage .header{
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.GraphicsPage h2{
    text-align: center;
}
.GraphicsPage p{
    text-align: left;
    font-size: large;
    margin: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.custom-tooltip{
    background-color: #fff;
    width: max-content;
    border: 1px solid #000;
    margin: 0px;
}