body{
    --textFontSize: 12px;
    --headTextFontSize: 16px
}
.graph{
    /* background-color: black; */
    width: 100%;
    border: 1px solid;
    border-color: black;
    margin: 5% 5% 5% 5%;
}
.grapher{
    width: 85%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    display:grid;
    justify-content: center;
    text-align: center;
}

.GraphicsPage{
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0px;
}
.page_container{
    display: flex;
}
.content{
    flex: 75%;
    width: 100%;
}
.settings{
    flex:20%;
    width: 50%;
    border-left: 1px dashed #000;
}
.GraphicsPage .header{
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.GraphicsPage h2{
    text-align: center;
    font-size: var(--headTextFontSize);
}
.GraphicsPage p{
    text-align: justify;
    font-size: var(--textFontSize);
    margin: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.custom-tooltip{
    background-color: #fff;
    width: 230px; /*@TODO ADD MORE VALUE TOO SMALL */
    border: 1px solid #000;
    margin: 0px;
    text-align: left;
}