.navbar{
    background-color:rgb(0, 125, 213);
    height: 10%;
    margin-top: 0px;
    font-size: x-large;
    text-align: left;
    color: aliceblue;
    
}
.navbar ul{
    display: flex;
    width: 60%;
}
.navbar ul li{
    list-style: none;
    padding: 2%;
    display: flex;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
}
