.table_page{
    text-align: center;
}
.table_page h2{
    padding: 1%;
}

.table_group{
    padding: 1%;
    text-align: center;
    padding-bottom: 5%;
}
.table_row{
   text-align: center;
   font-weight: 900;
}

.table {
    width: 100%;
    margin: 0px;
    table-layout: fixed;
    
}
.table_container{
    margin: 0px;
    padding: 2%;
}