body{
    --tableFontSize:12px,
}
.table_page{
    text-align: center;
}
.table_page h2{
    padding: 1%;
}

.table_group{
    padding: 1%;
    text-align: center;
    padding-bottom: 5%;
}
.table_row{
   text-align: center;
   font-weight: 900;
}

.table {
    width: 100%;
    margin: 0px;
    table-layout: fixed;
    font-size: var(--tableFontSize);
    
}
.table_container{
    margin: 0px;
    padding: 2%;
}
.table_footer{
    width: 100%;
    margin: 0%;
    position: absolute;
}
.table_footer td{
    width: 94%;
    margin: 0%;
    position: absolute;
}

