.settings_page{
    text-align: center;
}
.title{
    padding: 0.5%;
    margin: 1%
}
.setting_box{
    display: block;
    justify-content: center;
    width: 100%;
    /* position: fixed; */
    /* margin: 5%; */
    text-align:center;
}
.metric_setting_box{
    display: block;
    justify-content: center;
    width: 100%;
    /* position: fixed; */
    /* margin-top:25%; */
    text-align:center;
}
.setting{
    width: 26%;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 0%;
    margin-bottom: 1%;
    padding: 1%;
    /* background-color: brown; */
    border: 1px solid gray;
    font-size: large;
    justify-content: center;
    text-align: left;
    position: relative
}
.setting select{
    padding: 1%;
    margin: 3%;
    width: 100px;
    right: 0px;
    top: 0px;
    position: absolute;
}
.setting input{
    padding: 1%;
    margin: 3%;
    width: 100px;
    right: 0px;
    top: 0px;
    position: absolute;
}